.carousel-img {
    width: 90%;
}

.carousel-text {
    width: 90%;
}

.list-item {
    list-style-type: none;
}

.offer, .carousel-area {
    background-image: linear-gradient(to bottom, white, gray, white);
    height: 80vh;
    padding: 2rem;
    border-radius: 20px;
}